.text-to-audio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text-to-audio button{
  width: 50px;
  height: 50px;
  font-size: 18pt;
  margin: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text-to-audio button:hover{
  border-radius: 15px;
  background-color: transparent;
  color: #810dd2;
}

#text{
  width: 500px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #000000;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 10px;
}

#text:hover{
  border: 1px solid #0b14cb;
  border-radius: 10px;
}

#text:focus{
  border: 1px solid #0b14cb;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {

  #text{
    width: 300px;
  }

}